.cp-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8FAFC;
}

.logo-img{
  width: 250px;
  height: 35px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.cp-input-group label {
  width: 100%;
  color: #000;
  text-align: left;
  font-size: 15px;
  margin-bottom: 8px;
}

.cp-card {
  background: white;
  padding: 30px;
  border-radius: 18px;
  width: 100%;
  max-width: 510px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.cp-card h2 {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 600;
  font-size: 32px;
}

.cp-subtext {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.cp-input-group {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
}

.cp-input-group input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  background-color: #FFFFFF;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.cp-input-group span {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
}

.cp-input-group span svg {
  color: #000;
}

.cp-message {
  font-size: 13px;
  margin-bottom: 10px;
}

.cp-message.error {
  color: red;
}

.cp-message.success {
  color: green;
}

.cp-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #009DE1, #0488c1);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 17px;
}

.cp-card button:disabled {
  opacity: 0.6;
}