.account-container {
    padding: 30px;
    width: 100%;
}

.form-flex{
    display: flex;
    gap: 20px;
}

.account-card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    max-width: 100%;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 6px;
    font-size: 14px;
    color: #32294F;
}

.form-group input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: "Poppins", sans-serif;
}

.form-group input:disabled {
    background: #efefef;
}

.button-group {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 20px;
}

.edit-btn {
    background: #009DE1;
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.save-btn {
    background: #22c55e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn {
    background: #ef4444;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}